{% extends "base.html" %}

{% block content %}
<br>
<h2 class="text-center">{{ character.name }}'s Equipment</h2>
<br>

<div class="text-center">


  <h2>Melee Weapons</h2>
  {% if melee_weapons %}
  <table class="table table-striped table-bordered" style="color: #f5e1c8">
      <thead>
          <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Equipped</th>
              <th>Options</th>
          </tr>
      </thead>

      <tbody>
              {% for item in melee_weapons %}
              <tr>
                  <td><a href="{% url 'equipment:detail_melee_weapon' item.melee_weapon.id %}">{{ item.melee_weapon.name }}</a></td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.equipped|yesno:"Yes,No" }}</td>
                  <td>
                      <a href="{% url 'equipment:edit_character_melee_weapon' item.pk %}">Edit</a> |
                      <a href="{% url 'equipment:delete_character_melee_weapon' item.pk %}">Delete</a>
                  </td>
              </tr>
              {% endfor %}
      </tbody>
  </table>
  {% else %}
    <p>No Melee Weapons.</p>
  {% endif %}
    <a href="{% url 'equipment:add_character_melee_weapon' character.id %}">Add Melee Weapon</a>
<br><br>

  <h2>Ranged Weapons</h2>
  {% if ranged_weapons %}
    <table class="table table-striped table-bordered" style="color: #f5e1c8">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Equipped</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in ranged_weapons %}
                <tr>
                    <td>
                        <a href="{% url 'equipment:detail_ranged_weapon' item.ranged_weapon.id %}">
                            {{ item.ranged_weapon.name }}
                        </a>
                    </td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.equipped|yesno:"Yes,No" }}</td>
                    <td>
                      <a href="{% url 'equipment:edit_character_ranged_weapon' item.pk %}">Edit</a> |
                      <a href="{% url 'equipment:delete_character_ranged_weapon' item.pk %}">Delete</a>
                  </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  {% else %}
    <p>No Ranged Weapons.</p>
  {% endif %}
    <a href="{% url 'equipment:add_character_ranged_weapon' character.id %}">Add Ranged Weapon</a>
<br><br>

  <h2>Ammunition</h2>
  {% if ammunition %}
  <table class="table table-striped table-bordered" style="color: #f5e1c8">
      <thead>
          <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Equipped</th>
              <th>Options</th>
          </tr>
      </thead>

      <tbody>
              {% for item in ammunition %}
              <tr>
                  <td><a href="{% url 'equipment:detail_ammunition' item.ammunition.id %}">{{ item.ammunition.name }}</a></td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.equipped|yesno:"Yes,No" }}</td>
                  <td>
                      <a href="{% url 'equipment:edit_character_ammunition' item.pk %}">Edit</a> |
                      <a href="{% url 'equipment:delete_character_ammunition' item.pk %}">Delete</a>
                  </td>
              </tr>
              {% endfor %}
      </tbody>
  </table>
  {% else %}
    <p>No Ammunition.</p>
  {% endif %}
    <a href="{% url 'equipment:add_character_ammunition' character.id %}">Add Ammunition</a>
<br><br>

    <h2>Armour</h2>
  {% if armour %}
  <table class="table table-striped table-bordered" style="color: #f5e1c8">
      <thead>
          <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Equipped</th>
          </tr>
      </thead>

      <tbody>
              {% for item in armour %}
              <tr>
                  <td><a href="{% url 'equipment:detail_armour' item.armour.id %}">{{ item.armour.name }}</a></td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.equipped|yesno:"Yes,No" }}</td>
              </tr>
              {% endfor %}
      </tbody>
  </table>
  {% else %}
    <p>No Armour.</p>
  {% endif %}

    <h2>Packs And Containers</h2>
  {% if packs_and_containers %}
  <table class="table table-striped table-bordered" style="color: #f5e1c8">
      <thead>
          <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Equipped</th>
          </tr>
      </thead>

      <tbody>
              {% for item in packs_and_containers %}
              <tr>
                  <td><a href="{% url 'equipment:detail_packs_and_containers' item.packs_and_containers.id %}">{{ item.packs_and_containers.name }}</a></td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.equipped|yesno:"Yes,No" }}</td>
              </tr>
              {% endfor %}
      </tbody>
  </table>
  {% else %}
    <p>No Packs And Containers.</p>
  {% endif %}

    <h2>Clothing And Accessories</h2>
  {% if clothing_and_accessories %}
  <table class="table table-striped table-bordered" style="color: #f5e1c8">
      <thead>
          <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Equipped</th>
          </tr>
      </thead>

      <tbody>
              {% for item in clothing_and_accessories %}
              <tr>
                  <td><a href="{% url 'equipment:detail_clothing_and_accessories' item.clothing_and_accessories.id %}">{{ item.clothing_and_accessories.name }}</a></td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.equipped|yesno:"Yes,No" }}</td>
              </tr>
              {% endfor %}
      </tbody>
  </table>
  {% else %}
    <p>No Clothing And Accessories.</p>
  {% endif %}

    <h2>Food Drink And Lodging</h2>
  {% if food_drink_and_lodging %}
  <table class="table table-striped table-bordered" style="color: #f5e1c8">
      <thead>
          <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Equipped</th>
          </tr>
      </thead>

      <tbody>
              {% for item in food_drink_and_lodging %}
              <tr>
                  <td><a href="{% url 'equipment:detail_food_drink_and_lodging' item.food_drink_and_lodging.id %}">{{ item.food_drink_and_lodging.name }}</a></td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.equipped|yesno:"Yes,No" }}</td>
              </tr>
              {% endfor %}
      </tbody>
  </table>
  {% else %}
    <p>No Food Drink And Lodging.</p>
  {% endif %}

      <h2>Tools And Kits</h2>
  {% if tools_and_kits %}
  <table class="table table-striped table-bordered" style="color: #f5e1c8">
      <thead>
          <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Equipped</th>
          </tr>
      </thead>

      <tbody>
              {% for item in tools_and_kits %}
              <tr>
                  <td><a href="{% url 'equipment:detail_tools_and_kits' item.tools_and_kits.id %}">{{ item.tools_and_kits.name }}</a></td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.equipped|yesno:"Yes,No" }}</td>
              </tr>
              {% endfor %}
      </tbody>
  </table>
  {% else %}
    <p>No Tools And Kits.</p>
  {% endif %}

     <h2>Books And Documents</h2>
  {% if books_and_documents %}
  <table class="table table-striped table-bordered" style="color: #f5e1c8">
      <thead>
          <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Equipped</th>
          </tr>
      </thead>

      <tbody>
              {% for item in books_and_documents %}
              <tr>
                  <td><a href="{% url 'equipment:detail_books_and_documents' item.books_and_documents.id %}">{{ item.books_and_documents.name }}</a></td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.equipped|yesno:"Yes,No" }}</td>
              </tr>
              {% endfor %}
      </tbody>
  </table>
  {% else %}
    <p>No Books And Documents.</p>
  {% endif %}

     <h2>Trade Tools And Workshops</h2>
  {% if trade_tools_and_workshops %}
  <table class="table table-striped table-bordered" style="color: #f5e1c8">
      <thead>
          <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Equipped</th>
          </tr>
      </thead>

      <tbody>
              {% for item in trade_tools_and_workshops %}
              <tr>
                  <td><a href="{% url 'equipment:detail_trade_tools_and_workshops' item.trade_tools_and_workshops.id %}">{{ item.trade_tools_and_workshops.name }}</a></td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.equipped|yesno:"Yes,No" }}</td>
              </tr>
              {% endfor %}
      </tbody>
  </table>
  {% else %}
    <p>No Trade Tools And Workshops.</p>
  {% endif %}

    <h2>Animals And Vehicles</h2>
  {% if animals_and_vehicles %}
  <table class="table table-striped table-bordered" style="color: #f5e1c8">
      <thead>
          <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Equipped</th>
          </tr>
      </thead>

      <tbody>
              {% for item in animals_and_vehicles %}
              <tr>
                  <td><a href="{% url 'equipment:detail_animals_and_vehicles' item.animals_and_vehicles.id %}">{{ item.animals_and_vehicles.name }}</a></td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.equipped|yesno:"Yes,No" }}</td>
              </tr>
              {% endfor %}
      </tbody>
  </table>
  {% else %}
    <p>No Animals And Vehicles.</p>
  {% endif %}

    <h2>Drugs And Poisons</h2>
  {% if drugs_and_poisons %}
  <table class="table table-striped table-bordered" style="color: #f5e1c8">
      <thead>
          <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Equipped</th>
          </tr>
      </thead>

      <tbody>
              {% for item in drugs_and_poisons %}
              <tr>
                  <td><a href="{% url 'equipment:detail_drugs_and_poisons' item.drugs_and_poisons.id %}">{{ item.drugs_and_poisons.name }}</a></td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.equipped|yesno:"Yes,No" }}</td>
              </tr>
              {% endfor %}
      </tbody>
  </table>
  {% else %}
    <p>No Drugs And Poisons.</p>
  {% endif %}

    <h2>Herbs And Draughts</h2>
  {% if herbs_and_draughts %}
  <table class="table table-striped table-bordered" style="color: #f5e1c8">
      <thead>
          <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Equipped</th>
          </tr>
      </thead>

      <tbody>
              {% for item in herbs_and_draughts %}
              <tr>
                  <td><a href="{% url 'equipment:detail_herbs_and_draughts' item.herbs_and_draughts.id %}">{{ item.herbs_and_draughts.name }}</a></td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.equipped|yesno:"Yes,No" }}</td>
              </tr>
              {% endfor %}
      </tbody>
  </table>
  {% else %}
    <p>No Herbs And Draughts.</p>
  {% endif %}

     <h2>Prosthetics</h2>
  {% if prosthetics %}
  <table class="table table-striped table-bordered" style="color: #f5e1c8">
      <thead>
          <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Equipped</th>
          </tr>
      </thead>

      <tbody>
              {% for item in prosthetics %}
              <tr>
                  <td><a href="{% url 'equipment:detail_prosthetics' item.prosthetics.id %}">{{ item.prosthetics.name }}</a></td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.equipped|yesno:"Yes,No" }}</td>
              </tr>
              {% endfor %}
      </tbody>
  </table>
  {% else %}
    <p>No Prosthetics.</p>
  {% endif %}

    <h2>Miscellaneous Trappings</h2>
  {% if miscellaneous_trappings %}
  <table class="table table-striped table-bordered" style="color: #f5e1c8">
      <thead>
          <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Equipped</th>
          </tr>
      </thead>

      <tbody>
              {% for item in miscellaneous_trappings %}
              <tr>
                  <td><a href="{% url 'equipment:detail_miscellaneous_trappings' item.miscellaneous_trappings.id %}">{{ item.miscellaneous_trappings.name }}</a></td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.equipped|yesno:"Yes,No" }}</td>
              </tr>
              {% endfor %}
      </tbody>
  </table>
  {% else %}
    <p>No Miscellaneous Trappings.</p>
  {% endif %}

    <h2>Hirelings</h2>
  {% if hirelings %}
  <table class="table table-striped table-bordered" style="color: #f5e1c8">
      <thead>
          <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Equipped</th>
          </tr>
      </thead>

      <tbody>
              {% for item in hirelings %}
              <tr>
                  <td><a href="{% url 'equipment:detail_hirelings' item.hirelings.id %}">{{ item.hirelings.name }}</a></td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.equipped|yesno:"Yes,No" }}</td>
              </tr>
              {% endfor %}
      </tbody>
  </table>
  {% else %}
    <p>No Hirelings.</p>
  {% endif %}

  <a href="{% url 'characters:detail' character.id %}">← Back to Character</a>
</div>
{% endblock %}