{% extends "base.html" %}
{% load static %}

{% block content %}
<br>
<h2 class="text-center" >Update Character's Miscellaneous Trappings</h2>
<form method="post">
    {% csrf_token %}

        <h4>Miscellaneous Trappings Information</h4>
        <div class="mb-3">
            <label for="{{ form.quantity.id_for_label }}" class="form-label">Quantity</label>
            {{ form.quantity }}
        </div>

        <div class="mb-3 form-check">
            {{ form.equipped }}
            <label class="form-check-label" for="{{ form.equipped.id_for_label }}">
                Equipped
            </label>
        </div>
    <div class="text-center">
                    <button class="btn btn-warning" type="submit">Save Changes</button>
                    <a href="{% url 'equipment:character_equipment' character_id=object.character.id %}"
   class="btn btn-secondary">Cancel</a>
                </div>

    <br><br>
</form>

{% endblock %}