{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <br>
    <h2>{{ ranged_weapon.name }}</h2>

    <table class="table table-striped table-bordered" style="color: #f5e1c8">
        <thead>
            <tr>
                <th>Type</th>
                <th>Price</th>
                <th>Encumbrance</th>
                <th>Availability</th>
                <th>Range</th>
                <th>Damage</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{ ranged_weapon.type }}</td>
                    <td>{{ ranged_weapon.price }}</td>
                    <td>{{ ranged_weapon.encumbrance }}</td>
                    <td>{{ ranged_weapon.availability }}</td>
                    <td>{{ ranged_weapon.range }}</td>
                    <td>{{ ranged_weapon.damage }}</td>
                </tr>
        </tbody>
</table>
    <table class="table table-striped table-bordered" style="color: #f5e1c8">
    <thead>
        <tr>
            <th>Qualities and Flaws</th>
        </tr>
    </thead>

    <tbody>
            <tr>
                <td>{{ ranged_weapon.qualities_and_flaws }}</td>
            </tr>
    </tbody>
</table>
</div>
{% endblock %}