{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Create a New Character</h2>
    <form method="post">
        {% csrf_token %}

        <h4>Character Information</h4>
        {{ character_form.as_p }}

        <h4>Characteristics Information</h4>
        {{ characteristics_form.as_p }}

        <h4>Fate Information</h4>
        {{ fate_form.as_p }}

        <h4>Resilience Information</h4>
        {{ resilience_form.as_p }}

        <h4>Basic Skills Information</h4>
        {{ basic_skills_form.as_p }}

        <h4>Advanced Skills Information</h4>
        {{ advanced_skills_form.as_p }}

        <h4>Talents Information</h4>
        {{ talents_form.as_p }}

        <h4>Ambitions Information</h4>
        {{ ambitions_form.as_p }}

        <h4>Party Information</h4>
        {{ party_form.as_p }}

        <h4>Psychology Information</h4>
        {{ psychology_form.as_p }}

        <h4>Corruption and Mutation Information</h4>
        {{ corruption_and_mutation_form.as_p }}

        <h4>Wounds Information</h4>
        {{ wounds_form.as_p }}

        <h4>Sin Information</h4>
        {{ sin_form.as_p }}

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>
{% endblock %}