{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <br>
<h1>{{ character.name }} ({{ character.species }})</h1>
    <br>

<h2>Character Details</h2>
<table class="table table-striped table-bordered" style="color: #f5e1c8">
    <thead>
        <tr>
            <th>Class</th>
            <th>Career</th>
            <th>Career Tier</th>
            <th>Career Path</th>
            <th>Status</th>
            <th>Age</th>
            <th>Height</th>
            <th>Hair</th>
            <th>Eyes</th>

        </tr>
    </thead>

    <tbody>
            <tr>
                <td>{{ character.character_class }}</td>
                <td>{{ character.career }}</td>
                <td>{{ character.career_tier }}</td>
                <td>{{ character.career_path }}</td>
                <td>{{ character.status }}</td>
                <td>{{ character.age }}</td>
                <td>{{ character.height }}</td>
                <td>{{ character.hair }}</td>
                <td>{{ character.age }}</td>
            </tr>
    </tbody>
</table>

<h2>Characteristics</h2>
<table class="table table-striped table-bordered" style="color: #f5e1c8">
    <thead>
        <tr>
            <th>Skill</th>
            <th>Initial</th>
            <th>Advances</th>
            <th>Current</th>
        </tr>
    </thead>
    <tbody>
        {% for characteristic in characteristics %}
        <tr>
            <td>WS</td>
            <td>{{ characteristic.WS_initial }}</td>
            <td>{{ characteristic.WS_advances }}</td>
            <td>{{ characteristic.WS_current }}</td>
        </tr>
        <tr>
            <td>BS</td>
            <td>{{ characteristic.BS_initial }}</td>
            <td>{{ characteristic.BS_advances }}</td>
            <td>{{ characteristic.BS_current }}</td>
        </tr>
        <tr>
            <td>S</td>
            <td>{{ characteristic.S_initial }}</td>
            <td>{{ characteristic.S_advances }}</td>
            <td>{{ characteristic.S_current }}</td>
        </tr>
        <tr>
            <td>T</td>
            <td>{{ characteristic.T_initial }}</td>
            <td>{{ characteristic.T_advances }}</td>
            <td>{{ characteristic.T_current }}</td>
        </tr>
        <tr>
            <td>I</td>
            <td>{{ characteristic.I_initial }}</td>
            <td>{{ characteristic.I_advances }}</td>
            <td>{{ characteristic.I_current }}</td>
        </tr>
        <tr>
            <td>Ag</td>
            <td>{{ characteristic.Ag_initial }}</td>
            <td>{{ characteristic.Ag_advances }}</td>
            <td>{{ characteristic.Ag_current }}</td>
        </tr>
        <tr>
            <td>Dex</td>
            <td>{{ characteristic.Dex_initial }}</td>
            <td>{{ characteristic.Dex_advances }}</td>
            <td>{{ characteristic.Dex_current }}</td>
        </tr>
        <tr>
            <td>Int</td>
            <td>{{ characteristic.Int_initial }}</td>
            <td>{{ characteristic.Int_advances }}</td>
            <td>{{ characteristic.Int_current }}</td>
        </tr>
        <tr>
            <td>WP</td>
            <td>{{ characteristic.WP_initial }}</td>
            <td>{{ characteristic.WP_advances }}</td>
            <td>{{ characteristic.WP_current }}</td>
        </tr>
        <tr>
            <td>Fel</td>
            <td>{{ characteristic.Fel_initial }}</td>
            <td>{{ characteristic.Fel_advances }}</td>
            <td>{{ characteristic.Fel_current }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Fate</h2>
<table class="table table-striped table-bordered" style="color: #f5e1c8">
    <thead>
        <tr>
            <th>Fate</th>
            <th>Fortune</th>
        </tr>
    </thead>

    <tbody>
            {% for skill in fate %}
            <tr>
                <td>{{ skill.fate }}</td>
                <td>{{ skill.fortune }}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>

<h2>Resilience</h2>
<table class="table table-striped table-bordered" style="color: #f5e1c8">
    <thead>
        <tr>
            <th>Resilience</th>
            <th>Resolve</th>
            <th>Motivation</th>
        </tr>
    </thead>

    <tbody>
            {% for skill in resilience %}
            <tr>
                <td>{{ skill.resilience }}</td>
                <td>{{ skill.resolve }}</td>
                <td>{{ skill.motivation }}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>

<h2>Experience</h2>
<table class="table table-striped table-bordered" style="color: #f5e1c8">
    <thead>
        <tr>
            <th>Current</th>
            <th>Spent</th>
            <th>Total</th>
        </tr>
    </thead>

    <tbody>
            {% for skill in experience %}
            <tr>
                <td>{{ skill.current }}</td>
                <td>{{ skill.spent }}</td>
                <td>{{ skill.total }}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>

<h2>Movement</h2>
<table class="table table-striped table-bordered" style="color: #f5e1c8">
    <thead>
        <tr>
            <th>Movement</th>
            <th>Walk</th>
            <th>Run</th>
        </tr>
    </thead>

    <tbody>
            {% for skill in movement %}
            <tr>
                <td>{{ skill.movement }}</td>
                <td>{{ skill.walk }}</td>
                <td>{{ skill.run }}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>

<h2>Basic Skills</h2>
<table class="table table-striped table-bordered" style="color: #f5e1c8">
    <thead>
        <tr>
            <th>Skill</th>
            <th>Characteristics</th>
            <th>Advances</th>
            <th>Skill</th>
        </tr>
    </thead>
    <tbody>
        {% for skill in basic_skills %}
        <tr>
            <td>Art</td>
            <td>{{ skill.art_characteristics }}</td>
            <td>{{ skill.art_advances }}</td>
            <td>{{ skill.art_skill }}</td>
        </tr>
        <tr>
            <td>Athletics</td>
            <td>{{ skill.athletics_characteristics }}</td>
            <td>{{ skill.athletics_advances }}</td>
            <td>{{ skill.athletics_skill }}</td>
        </tr>
        <tr>
            <td>Bribery</td>
            <td>{{ skill.bribery_characteristics }}</td>
            <td>{{ skill.bribery_advances }}</td>
            <td>{{ skill.bribery_skill }}</td>
        </tr>
        <tr>
            <td>Charm</td>
            <td>{{ skill.charm_characteristics }}</td>
            <td>{{ skill.charm_advances }}</td>
            <td>{{ skill.charm_skill }}</td>
        </tr>
        <tr>
            <td>Charm Animal</td>
            <td>{{ skill.charm_animal_characteristics }}</td>
            <td>{{ skill.charm_animal_advances }}</td>
            <td>{{ skill.charm_animal_skill }}</td>
        </tr>
        <tr>
            <td>Climb</td>
            <td>{{ skill.climb_characteristics }}</td>
            <td>{{ skill.climb_advances }}</td>
            <td>{{ skill.climb_skill }}</td>
        </tr>
        <tr>
            <td>Cool</td>
            <td>{{ skill.cool_characteristics }}</td>
            <td>{{ skill.cool_advances }}</td>
            <td>{{ skill.cool_skill }}</td>
        </tr>
        <tr>
            <td>Consume Alcohol</td>
            <td>{{ skill.consume_alcohol_characteristics }}</td>
            <td>{{ skill.consume_alcohol_advances }}</td>
            <td>{{ skill.consume_alcohol_skill }}</td>
        </tr>
        <tr>
            <td>Dodge</td>
            <td>{{ skill.dodge_characteristics }}</td>
            <td>{{ skill.dodge_advances }}</td>
            <td>{{ skill.dodge_skill }}</td>
        </tr>
        <tr>
            <td>Drive</td>
            <td>{{ skill.drive_characteristics }}</td>
            <td>{{ skill.drive_advances }}</td>
            <td>{{ skill.drive_skill }}</td>
        </tr>
        <tr>
            <td>Endurance</td>
            <td>{{ skill.endurance_characteristics }}</td>
            <td>{{ skill.endurance_advances }}</td>
            <td>{{ skill.endurance_skill }}</td>
        </tr>
        <tr>
            <td>Entertain</td>
            <td>{{ skill.entertain_characteristics }}</td>
            <td>{{ skill.entertain_advances }}</td>
            <td>{{ skill.entertain_skill }}</td>
        </tr>
        <tr>
            <td>Gamble</td>
            <td>{{ skill.gamble_characteristics }}</td>
            <td>{{ skill.gamble_advances }}</td>
            <td>{{ skill.gamble_skill }}</td>
        </tr>
        <tr>
            <td>Gossip</td>
            <td>{{ skill.gossip_characteristics }}</td>
            <td>{{ skill.gossip_advances }}</td>
            <td>{{ skill.gossip_skill }}</td>
        </tr>
        <tr>
            <td>Haggle</td>
            <td>{{ skill.haggle_characteristics }}</td>
            <td>{{ skill.haggle_advances }}</td>
            <td>{{ skill.haggle_skill }}</td>
        </tr>
        <tr>
            <td>Intimidate</td>
            <td>{{ skill.intimidate_characteristics }}</td>
            <td>{{ skill.intimidate_advances }}</td>
            <td>{{ skill.intimidate_skill }}</td>
        </tr>
        <tr>
            <td>Intuition</td>
            <td>{{ skill.intuition_characteristics }}</td>
            <td>{{ skill.intuition_advances }}</td>
            <td>{{ skill.intuition_skill }}</td>
        </tr>
        <tr>
            <td>Leadership</td>
            <td>{{ skill.leadership_characteristics }}</td>
            <td>{{ skill.leadership_advances }}</td>
            <td>{{ skill.leadership_skill }}</td>
        </tr>
        <tr>
            <td>Melee Basic</td>
            <td>{{ skill.melee_basic_characteristics }}</td>
            <td>{{ skill.melee_basic_advances }}</td>
            <td>{{ skill.melee_basic_skill }}</td>
        </tr>
        <tr>
            <td>Melee</td>
            <td>{{ skill.melee_characteristics }}</td>
            <td>{{ skill.melee_advances }}</td>
            <td>{{ skill.melee_skill }}</td>
        </tr>
        <tr>
            <td>Navigation</td>
            <td>{{ skill.navigation_characteristics }}</td>
            <td>{{ skill.navigation_advances }}</td>
            <td>{{ skill.navigation_skill }}</td>
        </tr>
        <tr>
            <td>Outdoor Survival</td>
            <td>{{ skill.outdoor_survival_characteristics }}</td>
            <td>{{ skill.outdoor_survival_advances }}</td>
            <td>{{ skill.outdoor_survival_skill }}</td>
        </tr>
        <tr>
            <td>Perception</td>
            <td>{{ skill.perception_characteristics }}</td>
            <td>{{ skill.perception_advances }}</td>
            <td>{{ skill.perception_skill }}</td>
        </tr>
        <tr>
            <td>Ride</td>
            <td>{{ skill.ride_characteristics }}</td>
            <td>{{ skill.ride_advances }}</td>
            <td>{{ skill.ride_skill }}</td>
        </tr>
        <tr>
            <td>Row</td>
            <td>{{ skill.row_characteristics }}</td>
            <td>{{ skill.row_advances }}</td>
            <td>{{ skill.row_skill }}</td>
        </tr>
        <tr>
            <td>Stealth</td>
            <td>{{ skill.stealth_characteristics }}</td>
            <td>{{ skill.stealth_advances }}</td>
            <td>{{ skill.stealth_skill }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Advanced skills</h2>
<table class="table table-striped table-bordered" style="color: #f5e1c8">
    <thead>
        <tr>
            <th>Skill Name</th>
            <th>Attribute Name</th>
            <th>Attribute Value</th>
            <th>Skill Advances</th>
            <th>Skill Total Value</th>
        </tr>
    </thead>

    <tbody>
            {% for skill in advanced_skills %}
            <tr>
                <td>{{ skill.name }}</td>
                <td>{{ skill.attribute_name }}</td>
                <td>{{ skill.attribute_value }}</td>
                <td>{{ skill.advances }}</td>
                <td>{{ skill.total }}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>

<h2>Talents</h2>
<table class="table table-striped table-bordered" style="color: #f5e1c8">
    <thead>
        <tr>
            <th>Talent</th>
            <th>Times Taken</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
            {% for skill in talents %}
            <tr>
                <td>{{ skill.talent }}</td>
                <td>{{ skill.times_taken }}</td>
                <td>{{ skill.description }}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>

<h2>Ambitions</h2>
<table class="table table-striped table-bordered" style="color: #f5e1c8">
    <thead>
        <tr>
            <th>Short Term</th>
            <th>Long Term</th>
        </tr>
    </thead>

    <tbody>
            {% for skill in ambitions %}
            <tr>
                <td>{{ skill.short_term }}</td>
                <td>{{ skill.long_term }}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>

<h2>Party</h2>
<table class="table table-striped table-bordered" style="color: #f5e1c8">
    <thead>
        <tr>
            <th>Name</th>
            <th>Short Term Party Ambition</th>
            <th>Long Term Party Ambition</th>
            <th>Members</th>
        </tr>
    </thead>

    <tbody>
            {% for skill in party %}
            <tr>
                <td>{{ skill.party_name }}</td>
                <td>{{ skill.short_term }}</td>
                <td>{{ skill.long_term }}</td>
                <td>{{ skill.members }}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>

<h2>Psychology</h2>
<table class="table table-striped table-bordered" style="color: #f5e1c8">
    <thead>
        <tr>
            <th>Effect</th>
        </tr>
    </thead>

    <tbody>
            {% for skill in psychology %}
            <tr>
                <td>{{ skill.effect }}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>

<h2>Corruption And Mutation</h2>
<table class="table table-striped table-bordered" style="color: #f5e1c8">
    <thead>
        <tr>
            <th>Effect</th>
        </tr>
    </thead>

    <tbody>
            {% for skill in corruption_and_mutation %}
            <tr>
                <td>{{ skill.effect }}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>

<h2>Wounds</h2>
<table class="table table-striped table-bordered" style="color: #f5e1c8">
    <thead>
        <tr>
            <th>Strength Bonus</th>
            <th>Toughness Bonus x2</th>
            <th>Willpower Bonus</th>
            <th>Hardy Skill</th>
            <th>Number Of Wounds (Health)</th>
        </tr>
    </thead>

    <tbody>
        {% for skill in wounds %}
            <tr>
                <td>{{ skill.sb }}</td>
                <td>{{ skill.tb_x2 }}</td>
                <td>{{ skill.wbp }}</td>
                <td>{{ skill.hardy }}</td>
                <td>{{ skill.wounds }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Sin</h2>
<table class="table table-striped table-bordered" style="color: #f5e1c8">
    <thead>
        <tr>
            <th>Sin Points</th>
        </tr>
    </thead>

    <tbody>
            {% for skill in sin %}
            <tr>
                <td>{{ skill.sin }}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>

<div class="d-flex justify-content-between mt-3">
    <a href="{% url 'characters:update' character.pk %}" class="btn btn-warning">Update</a>
    <a href="{% url 'characters:delete' character.pk %}" class="btn btn-danger">Delete</a>
</div>
    <br><br>
</div>
{% endblock %}