{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Your Characters</h2>

    {% if object_list %}
        <ul class="list-group">
            {% for character in object_list %}
                <li class="list-group-item bg-dark">
                    <a href="{% url 'characters:detail' character.pk %}">{{ character.name }}</a> ({{ character.species }}) <a href="{% url 'equipment:character_equipment' character.pk %}">Equipment</a>
                </li>
                <br>
            {% endfor %}
        </ul>
        <div class="text-center">
            <a href="{% url 'characters:create' %}" class="btn btn-primary">Create New Character</a>
        </div>
    {% else %}
        <p class="text-center">You don't have any characters yet. <a href="{% url 'characters:create' %}">Create one now!</a></p>
    {% endif %}
</div>
{% endblock %}