{% extends "base.html" %}

{% block content %}
<h1>{{ character.name }} ({{ character.species }})</h1>

<h2>Basic Skills</h2>
<ul>
    {% for skill in basic_skills %}
    <li>Art: Characteristics={{ skill.art_characteristics }}, Advances={{ skill.art_advances }}, Skill={{ skill.art_skill }}</li>
    {% endfor %}
</ul>

<h2>Advanced Skills</h2>
<ul>
    {% for advanced_skill in advanced_skills %}
    <li>Advanced Skill 1: {{ advanced_skill.name }}</li>
    {% endfor %}
</ul>


<a href="{% url 'characters:delete' character.pk %}">Delete</a>

{% endblock %}