{% extends "base.html" %}
{% load static %}

{% block content %}
<br>
<div class="jumbotron">
    <h1>About the Application</h1>
    <h3>This application allows users to manage their characters from the Warhammer Fantasy Roleplay game.
    Registration is required to access all website functionalities. Character creation is done by
    completing a form.</h3>

    <h3>Please note that all information in the form is required. If some fields are not relevant,
    an acceptable answer should be 'None', '-' or '0' in the case of numerical values. If a character does not have any
    advanced skills, these fields should be filled with placeholders.</h3>

    <h3>Character details can be accessed from the main list of user characters. In the detail view, users have
    the option to update or delete a character.</h3>

    <h3><b>Important:</b> Deleting a character is permanent!</h3>

    <h3>Full software documentation of this application can be viewed on this
        <a href="https://patrickschroeder98.github.io/software_documentation/warhammer_roleplay_app_docs/index.html">
            website
        </a>.
    </h3>
</div>

<div class="jumbotron">
    <h1>About the Author</h1>
    <h3>I'm a passionate Warhammer Fantasy fan and a software engineer specializing in Python programming.</h3>
    <h3>See my other projects in my <a href="https://patrickschroeder98.github.io/portfolio/index.html">Portfolio</a>.</h3>
</div>

<div class="jumbotron">
    <section id="contact" class="contact-section">
        <h2 data-i18n="contact-header">Contact Me</h2>
        <div class="contact-info">
            <a href="mailto:patrickschroeder479@gmail.com">patrickschroeder479@gmail.com</a>
            <span></span>

            <a href="https://www.linkedin.com/in/patrick-schröder-6b2007263/" target="_blank">
                <img src="{% static 'wfra/img/linkedin.png' %}" alt="LinkedIn">
            </a>
            <span></span>
            <a href="https://github.com/PatrickSchroeder98/" target="_blank">
                <img src="{% static 'wfra/img/github-mark-white.png' %}" alt="GitHub">
            </a>
        </div>
    </section>
</div>

{% endblock %}